.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  pointer-events: all;
}

.modal__content {
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 28px 28px 36px; /* Top, right/left, and bottom */
  border-radius: 20px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 30px;
  background: url("../../assets/Union.png") transparent no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}
.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__form-input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
}

.modal__radio-buttons {
  max-width: 173px;
  width: 100%;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__submit {
  margin-top: 8px;
  max-width: 124px;
  height: 36px;
}
