.card {
  border: 2px;
  border-radius: 20px;
  width: 325px;
  max-height: 325px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__name {
  background-color: white;
  width: 73px;
  height: 24px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__like-button {
  /* default/unliked card style */
  background: transparent;
  background-image: none;
  background-image: url("../../assets/defaultLikeButton.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.card__like-button-active {
  background-color: black;
}

.card__hidden {
  display: none;
}
