.header {
  display: flex;
  align-items: center;
  padding: 32px 0px 28px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.header__add-clothes-btn {
  /*   margin-left: auto; */
  margin-right: 20px;
  border: none;
}

.header__user-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

.header__date {
  margin: 0px;
  margin-left: 24px;
}

.header__username {
  margin: 0px;
}

.header__link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 425px) {
  .header {
    flex-wrap: wrap;
  }

  .header__date {
    max-width: 128px;
    margin: 0px;
    font-size: 16px;
  }
}
