.sidebar {
  display: flex;
  max-width: 229px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sidebar-profile__image {
  margin-bottom: auto;
  margin-right: 16px;
}

.sidebar__header {
  display: flex;
}

.sidebar__username {
  margin-right: 100px;
}

.sidebar__actions {
  display: flex;
  flex-direction: column;
}
