.modal__login {
  width: 80px;
  height: 40px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 128px;
  bottom: 28px;
  text-align: center;
}
