.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  gap: 20px;
  max-width: 1360px;
}

.clothes-section__header {
  display: flex;
}

.clothes-section__button {
  background: transparent;
  border: none;
  margin-left: 20px;
  color: #000;
  opacity: 60%;
}

.card {
  border-radius: 50px;
}
